.App {
  text-align: center;
}

.Main-banner {
  background-image: url('./assets/news.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding-top: 10pt;
  margin-bottom: 30px;
}

.Navlink-bar {
  display: flex;
  justify-content: flex-end;
  margin: 10pt 0pt;
}

.Navlink-bar a { 
  color: #fff;
  text-decoration: none;
  padding: 5pt 10pt;
  font-size: 20pt;
  cursor: pointer;
}

.Main-banner a:hover {
  background-color: #fff;
  color: #000000;
}
.Navlink-bar-addition {
  color: #fff;
  margin-top: 10%;

}

.Navlink-bar-addition p {
  width: 50%;
  padding-top: 40px;
  font-size: 22px;
 
}

.Main-banner h1 {
  width:max-content;
  color: #fff;
  cursor: pointer;
  
}

.Main-banner h1:hover {
  background-color: #fff;
  color: #000000;
  
}

.wrapper h1 {
  text-align: center;
  width: 100%;
  font-size: 40pt;
}

.News-info {
  width: 60%;
  margin: auto;

}

.News-info h2 {
  font-size: 30pt;
}

.News-info h2 a {
  text-decoration: none;
  color: #000000;
}

.News-info h2:hover {
  background-color: yellow;
  cursor: pointer;
}


.News-info img {
  width: 100%;
}

#date-info {
  text-align: center;
}


input {
  width: 20%;
  font-size: 20pt;
  transition: width 0.4s ease-in-out;
  color: #808080;
}

input:focus {
  width: 50%;
  color: #000000;
}

button {
  margin-left: 10pt;
  font-size: 20pt;
}

a {
  margin-right: 5pt;
}

.paginator {
  margin-top: 20px;
  
}

.paginator button {
  border-radius: 2px solid black;
  border-radius: 50%;
  padding: 5pt 8pt;
}

.paginator button:hover {
  background-color: #808080;
  color: #fff;
  cursor: pointer;
}
